<div class="container">
  <ol>
    <% @posts.each do |post| %>
    <li> <a href="<%= post.hyperlink %>"><%= post.title %></a> 
      <span><a href="/post/<%= post.id %>">
        <%= post.comments.count %> comments</a></span></li>
    <% end %>
  </ol>
</div>
